@use '../abstract/mixins';
@use '../abstract/variables';

.process {
  &__part:first-child {
    .process__part-title {
      padding-right: 25px;
    }
  }

  &__parts {
    display: flex;
    counter-reset: num;
  }

  &__part {
    max-width: 285px;
    position: relative;
    counter-increment: num;

    &-title {
      font-family: variables.$secondary-font;
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 43px;
    }

    &-copy {
      line-height: 26px;
    }
  }

  &__part:not(:last-child) {
    max-width: 380px;
    padding-right: 95px;
  }

  &__part-title::before {
    content: '0' counter(num);
    position: absolute;
    top: -94px;
    left: 0;
    color: variables.$extra-color;
    font-size: 72px;
  }

  &__part::after {
    content: '';
    width: 27px;
    height: 27px;
    background-color: variables.$primary-text-color;
    border-radius: 50%;
    border: 2px solid variables.$secondary-bg-color;
    position: absolute;
    top: -194px;
    left: 0;
  }

  &__part::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: variables.$extra-color;
    top: -180px;
    left: 0;
  }

  &__part:last-child::before {
    display: none;
  }
}

@include mixins.media(768px) {
  .process {
    &__part {
      max-width: 233px;

      &-title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 38px;
      }

      &-copy {
        line-height: 25px;
        font-size: 15px;
      }
    }

    &__part:not(:last-child) {
      padding-right: 10px;
    }

    &__part-title::before {
      top: -90px;
    }

    &__part::after {
      top: -179px;
    }

    &__part::before {
      top: -165px;
    }
  }
}

@include mixins.media(575px) {
  .process {
    text-align: center;

    &__part:first-child {
      .process__part-title {
        padding-right: 0;
      }
    }

    &__parts {
      margin-bottom: 44px;
      flex-direction: column;
      align-items: center;
    }

    &__part:not(:last-child) {
      margin-bottom: 152px;
    }

    &__part {
      max-width: fit-content;

      &-title {
        margin-bottom: 24px;
      }
    }

    &__part:not(:last-child) {
      padding-right: 0;
    }

    &__part-title::before {
      top: -75px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__part::after {
      display: none;
    }

    &__part::before {
      display: none;
    }
  }
}