$primary-bg-color: #2C343E;
$secondary-bg-color: #0E8784;

$primary-text-color:#FEFCF7;
$secondary-text-color: #333D4B;
$extra-color: #FDD6BA;
$menu-text-color: #83888F;

$btn-hover-bg-color: #66D2CF;

$main-font: 'Barlow', sans-serif;
$secondary-font: 'Fraunces', serif;

$menu-font-size: 12px;